@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-text: var(--color-gray-100);
  --color-secondary-text: var(--color-gray-200);
  --color-tertiary-text: var(--color-gray-300);
  --color-quaternary-text: var(--color-gray-400);

  --color-primary-bg: var(--color-neutral-900);
  --color-primary-border: var(--color-neutral-700);
  --color-secondary-bg: var(--color-neutral-800);
  --color-secondary-border: var(--color-neutral-500);
  --color-tertiary-bg: var(--color-neutral-700);
  --color-tertiary-border: var(--color-neutral-500);

  --color-fill-bg: --alpha(var(--color-blue-100) / 90%);
  --color-fill-bg-hover: --alpha(var(--color-neutral-100) / 90%);
  --color-fill-border: var(--color-blue-50);
  --color-fill-text: var(--color-blue-700);
  --color-fill-text-hover: var(--color-gray-900);
}

@layer utilities {
  .glass-card-hero {
    @apply rounded-3xl bg-white/10 backdrop-blur-lg border border-primary-border;
  }
  .glass-card-primary {
    @apply rounded-3xl bg-white/10 border border-primary-border;
  }
  .glass-card-secondary {
    @apply rounded-lg bg-secondary-bg/10 border border-secondary-border shadow-lg hover:shadow-xl transition-shadow duration-300;
  }
  .glass-card-tertiary {
    @apply rounded-md bg-tertiary-bg/40;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
